<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pedidos por Fecha</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Asegúrate de que la ruta es correcta -->
</head>
<body>
    <h1>Pedidos para la fecha: <%= fecha %></h1>
    <a href="/admin/pedidos/descargarExcel/<%= fecha %>" class="btn-download">Descargar a Excel</a> <!-- Botón para descargar -->
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Menú del Día</th>
                <th>Empanadas</th>
                <th>Tartas</th>
                <th>Pastas Cocidas</th>
                <th>Ravioles</th>
                <th>Salsas</th>
                <th>Ensalada</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <% if (pedidos.length > 0) { %>
                <% pedidos.forEach(pedido => { %>
                    <tr>
                        <td><%= pedido.nombre %></td>
                        <td><%= pedido.menuDelDia %></td>
                        <td><%= pedido.empanadas %></td>
                        <td><%= pedido.tartas %></td>
                        <td><%= pedido.pastasCocidas %></td>
                        <td><%= pedido.ravioles %></td>
                        <td><%= pedido.salsas %></td>
                        <td><%= pedido.ensalada %></td>
                        <td><%= pedido.fecha.toLocaleDateString() %></td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="9">No hay pedidos para esta fecha.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>